extends ./layout/index

block contenido
  main.container.mt-5 
    .row 
      .col-md-5 
        img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
      .col-md-7
        h1 #{tituloPagina}
        blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit nemo nisi consectetur amet minus deserunt iure corrupti doloremque labore dolor debitis consequatur, perspiciatis ducimus eius blanditiis dolorem exercitationem facilis ut cumque? Odio et quod eos sit voluptas molestiae placeat animi commodi dolore? Amet optio, eveniet dolores atque quaerat sint id.
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit inventore ipsa repellendus in voluptates sapiente rem doloribus commodi corporis? Officia aut quis reprehenderit nihil debitis numquam vero error, dolores cupiditate et neque. Earum a recusandae odio necessitatibus quod, saepe nobis animi, iure illo reiciendis consequatur nihil harum vitae labore blanditiis.
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas officia temporibus nesciunt. Natus nobis explicabo, quis doloribus rem impedit. Laudantium, cupiditate quos? Sed voluptatum praesentium minima cupiditate dolore, laudantium repellat?

  .listado-iconos 
    .container.mt-5.py-5.text-center 
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
          h2.mb-4 Seguridad 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut accusamus inventore animi corrupti dicta possimus quam odio temporibus ex, consequuntur quasi, error aliquid?
        .col-md-4 
          img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut accusamus inventore animi corrupti dicta possimus quam odio temporibus ex, consequuntur quasi, error aliquid?
        .col-md-4 
          img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
          h2.mb-4 Precios Acequibles
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut accusamus inventore animi corrupti dicta possimus quam odio temporibus ex, consequuntur quasi, error aliquid?